<?xml version="1.0" encoding="utf-8"?>
    <configuration>
    <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Razor-Sharp-Solutions/index.json" />
    <add key="nugetorg" value="http://packages.nuget.org/v1/FeedService.svc/" />
    </packageSources>
    <packageSourceCredentials>
    <github>
    <add key="Username" value="dpepic" />
    <add key="ClearTextPassword" value="SimpleToken" />
    </github>
    </packageSourceCredentials>
    </configuration>